{%extends 'base.html'%}
{% block content %}
{{ block.super}}
<div class="s_place">
  <h5>Welcome to Photos your one stop place for all the cool new awesome pics.</h5>
  <form class="form-inline s_form my-2 my-lg-0" action="{% url 'search_results'%}">
    <input class="form-control mr-sm-2 input_s" type="search" placeholder="Search for photos" aria-label="Search" name="photos">
    <button class="form-control btn btn-lg btn-outline-primary my-2 my-sm-0 s_btn" type="submit">Search</button>
  </form>
</div>
<div class="row" style="font-family: 'Work Sans', sans-serif;">
  {% for pic in photos %}


  <div class="col-md-3 col-sm-6 col-lg-3">
    <div class="card" style="width: 18rem;">
      <a data-toggle="modal" data-target="#{{pic.name}}"><img class="card-img-top image" src="{{pic.image.url}}"
          alt="Card image cap"></a>
      <div class="card-body">
        <h6>{{pic.name}}</h6>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="{{pic.name}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">{{pic.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="{{pic.image.url}}" class="img-responsive" alt="Image"
            style="width:100%;max-width: 400px; margin: 0 0 10px;">
          <p>{{pic.description}}</p>
          <button class="btn btn-outline-primary" onclick="copyToClipboard('{{image.id}}-url')">Copy link address</button>
          <input type="text" class="form-control input-lg " value="https://photoblog6.herokuapp.com{{pic.image.url}}"
            id="{{image.id}}-url">
        </div>
        <script>
          function copyToClipboard(element) {
            var image = document.getElementById(element)
            image.select()
            document.execCommand('copy');
            alert("You have copied url: " + image.value)
          }
        </script>
      </div>
    </div>
  </div>



  {% empty %}
  <div class="row">
    <h2 class="text-center">There No photos.</h2>
  </div>
  {% endfor %}
</div>


{% endblock %}
