h1{
  color: chartreuse;
}
.image{
  width: 280px;
  height: 220px;
}
.nav{
  font-family: 'Lato', sans-serif;
}
body{
  background-image: url(https://free4kwallpapers.com/uploads/originals/2015/08/25/website-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}